/*
#F0E5E6 - svetla
#009245 - zelena
#35A1BC - plavicasta
#616E71 - sucmurasta
#537862 - tamna


*/

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #35A1BC;
}

#logo {
    display: block;
    margin: auto 0;
    align-self: flex-start;
    width: 350px;
    height: 75px;
    margin-left: 15px;
    cursor: pointer;
}

.page-header button {
    margin-right: 20px;
}

.page-header div {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pic-cont {
    display: inline-block;
    align-self: flex-end;
    background-color: white;
    margin-right: 15px;
    border: 0.2em solid #4ec372;
}

.prf-pic {
    width: 50px;
    height: 50px;
    background-color: white;
    cursor: pointer;
}

.prf-pic:hover {
    filter: opacity(0.4);
}

.btn-logout {
    align-self: flex-end;
}

.blk-container {
    display: flex;
    justify-content: center;
    align-items: center;;
}