/*
    Grid

*/

.parent {
    display: grid;
    grid-template-columns: 0.05fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    /*User added!*/
    height: 100%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}


.menu-container img{
    margin-top: 10px;
    height: 30px;
    width:30px;

    max-width: 30px;
    max-height: 30px;
    padding: 5%;
}
.menu-container img:hover{
    cursor: pointer;
}