<div class="parent">
    <!--Leva kolona je za toolbar, desna za editor-->
    <div class="div1 bar-blue align-center menu-container">

        <img class="btn-round btn-green icon-border" (click)="addQuestionNumber()" src="./assets/icons/equation.png">
        <img class="btn-round btn-green icon-border" (click)="addQuestionText()" src="./assets/icons/text.png">
        <img class="btn-round btn-green icon-border" (click)="addQuestionTextBig()" src="./assets/icons/book.png">
        <img class="btn-round btn-green icon-border" (click)="addQuestionSelect()" src="./assets/icons/select.png">
        <img class="btn-round btn-green icon-border" (click)="addQuestionCheckBox()" src="./assets/icons/tickbox.png">

    </div>

    <div class="div2">
        <div>
            <div>
                <input class="" type="text" placeholder="Quizz Тitle" maxlength="100" required [(ngModel)]="quiz.title" />
            </div>

            <div>
                <textarea class="" placeholder="Quizz Description" maxlength="255" [(ngModel)]="quiz.description"></textarea>
            </div>

            <div>
                <input class="" type="checkbox" id="is-test" [(ngModel)]="quiz.test" /><label>Is Test</label>
            </div>
            <div>
                <input class="" type="checkbox" id="is-random" [(ngModel)]="quiz.randomize" /><label>Is Random</label>
            </div>
            <div>
                <input class="" type="date" id="is-random" [(ngModel)]="quiz.valid_from_datetime" /><label>Date start</label>
            </div>
            <div>
                <input class="" type="date" id="is-random" [(ngModel)]="quiz.valid_to_datetime" /><label>Date end</label>
            </div>


            <div #questionContainer class="questions-editor" id="">
               

            </div>
            <div>
                <button (click)="submitQuestionare()" class="btn-plain btn-green btn-curved btn-bordered">Submit</button>
            </div>
        </div>
    </div>