<div class="parent">
    <!--Leva kolona je za toolbar, desna za editor-->
    <div class="div1 bar-blue align-center menu-container">

        <img class="btn-round btn-green icon-border" src="./assets/icons/equation.png">
        <img class="btn-round btn-green icon-border" src="./assets/icons/text.png">
        <img class="btn-round btn-green icon-border" src="./assets/icons/book.png">
        <img class="btn-round btn-green icon-border" src="./assets/icons/select.png">
        <img class="btn-round btn-green icon-border" src="./assets/icons/tickbox.png">

    </div>

    <div class="div2">
        <div>
            <div>
                <input class="" type="text" placeholder="Quizz Тitle"  maxlength="100" required />
            </div>

            <div>
                <textarea class="" placeholder="Quizz Description" maxlength="255"></textarea>
            </div>

            <div>
                <input class="" type="checkbox" id="is-test" /><label>Is Test</label>
            </div>

            <div class="questions-editor">
                <p>Here questions go!</p>
            </div>

        </div>
    </div>
</div>