/*
    Grid

*/


.parent {
    display: grid;
    grid-template-columns: 0.05fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    /*User added!*/
    height: 100%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;

}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}


/* USER CODE */

.menu-container{
    max-width: 50px;

    -webkit-box-shadow: 9px 0px 22px -6px rgba(128,128,128,0.5);
-moz-box-shadow: 9px 0px 22px -6px rgba(128,128,128,0.5);
box-shadow: 9px 0px 22px -6px rgba(128,128,128,0.5);
    
}


.menu-container img{

    height: 30px;
    width:30px;

    margin:0 5px;
    margin-top: 10px;

    max-width: 30px;
    max-height: 30px;
    padding: 5%;
}
.menu-container img:hover{
    cursor: pointer;
}

