.question-container{
    display: flex;
    width: 25%;
    height: auto;
    margin: 10px auto;
    align-items: center;
    justify-content:space-between;
    border-bottom: 0.1em solid #212121;
}
.qustion-header{
    background-color: #eeeeee;
    width: 25%;
}