<div class="question-container">
    <div class="qustion-header">
        <input class="" type="text" placeholder="Question" maxlength="100" required [(ngModel)]="question.question" />
        <div *ngIf="isTest" class="question-points">
            <input class="" type="number" placeholder="points" maxlength="100"
                [(ngModel)]="question.points" /><label>Points</label>
        </div>
    </div>
    <div *ngIf="isTest">
        <div [ngSwitch]="question.type">
            <div *ngSwitchCase="'text'">
                <input class="" type="text" placeholder="Answer" maxlength="100" required
                    [(ngModel)]="question.answer" />
            </div>
            <div *ngSwitchCase="'textarea'">
                <textarea [(ngModel)]="question.answer"></textarea>
            </div>
        </div>
    </div>
    <div *ngIf="question.type=='select' || question.type=='checkbox'">
        <div>
            <div *ngFor="let choice of choices">
                <input type="text" name="chkbx-text" [(ngModel)]="choice.text"><input type="checkbox" name="chbx-val"
                    [(ngModel)]="choice.val">
            </div>
        </div>
        <button (click)="addOption()">Add option</button>

    </div>
</div>