<div>
    {{quiz.title}}
    {{quiz.description}}

    <div *ngFor="let question of quiz.questions">
        <p>{{question.question}}</p>
        <span [ngSwitch]="question.type">
            <div *ngSwitchCase="'radio'">
                <div *ngFor="let choice of question.choices">
                    <input type="radio" value="choice" name="question.name" />
                    <label>{{choice}}</label>
                </div>
            </div>

            <div *ngSwitchCase="'text'">
                <input type="text" name="question.name" />
            </div>

            <div *ngSwitchDefault>
                Bad Data Format!
            </div>

        </span>

       

    </div>

</div>